{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" type="text/css">
    <title>グループ追加</title>
    {% if addSuccess %}
    <meta http-equiv="refresh" content=" 3; url={{ url_for('read_users_groups_edit') }}?{{ GROUPID_NAME }}={{ group_id }}">
    {% endif %}
{% endblock %}

{% block body %}
    <h1>グループ追加</h1>
    {% if not addSuccess %}
    <form action="{{ url_for('read_users_groups_add_result') }}" method="post">
        <p>グループ名 : <input type="text" name="{{ POST_GROUP_NAME }}" value="{{ group_name }}"></p>
        <p style="color:red;">{{ errmsg }}</p>
        <p><input type="submit" value="作成"></p>
    </form>
    {% else %}
    <p>グループ名 : {{ group_name }}</p>
    <p>作成しました。<br>3秒後、グループへ移動します。</p>
    <p><a href="{{ url_for('read_users_groups_edit') }}?{{ GROUPID_NAME }}={{ group_id }}" class="plain-link">作成したグループへ移動する</a></p><br>
    {% endif %}
    <p><a href="{{ url_for('read_users') }}" class="plain-link">アイテム一覧へ戻る</a></p>
{% endblock %}