{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" type="text/css">
    <title>アイテム削除</title>
    {% if delSuccess %}
    <meta http-equiv="refresh" content=" 3; url={{ url_for('read_users') }}">
    {% endif %}
{% endblock %}

{% block body %}
    <h1>アイテム削除</h1>
    {% if not delSuccess %}
    <form action="{{ url_for('read_users_items_remove_result') }}" method="post">
        <input type="hidden" name="{{ POST_ITEM_ID }}" value="{{ item_id }}">
        <p style="color:red;">{{ errmsg }}</p>
        <p>本当に{{ itemname }}を削除しますか？
        <p><input type="submit" value="削除"></p>
    </form>
    <p><a href="{{ url_for('read_users_items_view',) }}?{{ ITEMID_Q_NAME }}={{ item_id }}">戻る</a></p>
    {% else %}
    <p>アイテム名 : {{ itemname }}</p>
    <p>削除しました。<br>3秒後、戻ります。</p>
    <p><a href="{{ url_for('read_users') }}">戻る</a>
    {% endif %}
{% endblock %}