{% extends "shared/layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', path='/css/itemchart.css') }}" type="text/css">
<title>価格グラフ</title>
{% endblock %}

{% block body %}
<h1>価格グラフ</h1>
{% if is_predict %}
<h3>予測設定</h3>
<div class="predict_config_list">
  <form method="{{ date_range_filter.form.method }}" action="{{ date_range_filter.form.action }}"
    id="{{ date_range_form }}">
    <div class="date_range_box config_box">
      {{ date_range_filter.range_input.title }} : <input type="date"
        name="{{ date_range_filter.range_input.lower.input_name }}"
        min="{{ date_range_filter.range_input.lower.min_value }}"
        max="{{ date_range_filter.range_input.lower.max_value }}"
        value="{{ date_range_filter.range_input.lower.value }}">
      　～　<input type="date" name="{{ date_range_filter.range_input.upper.input_name }}"
        min="{{ date_range_filter.range_input.upper.min_value }}"
        max="{{ date_range_filter.range_input.upper.max_value }}"
        value="{{ date_range_filter.range_input.upper.value }}">
    </div>
    <div class="predict_period_box config_box">
      予測する日数 : <input type="number" step="1" name="{{ PERIOD_NAME }}" value="{{ predict_length }}"
        min="{{ PERIOD_MIN }}" max="{{ PERIOD_MAX }}">
    </div>
    <input type="hidden" name="{{ START_NAME }}" value="1">
    <div class="sbtn">
      <button type="submit">予測する</button>
    </div>
    {% for k, v in fquery.items() %}
    {% if k != date_range_filter.range_input.lower.input_name and k != date_range_filter.range_input.upper.input_name
    and k != PERIOD_NAME and v != "" %}
    <input type="hidden" name="{{ k }}" value="{{ v }}">
    {% endif %}
    {% endfor %}
  </form>
  {% if has_multi_url %}
  <form method="get" action="">
    <div class="chart_config_list">
      <div class="config_box">
        <input type="checkbox" onchange="submit(this.form)" id="each_url_checkbox" name="{{ EACH_URL_NAME }}" value="1"
          {{ each_url_checked }}>
        <label for="each_url_checkbox">チャートをURL毎に分けて表示する</label>
      </div>
    </div>
    {% for k, v in fquery.items() %}
    {% if k != EACH_URL_NAME and v != "" %}
    <input type="hidden" name="{{ k }}" value="{{ v }}">
    {% endif %}
    {% endfor %}
  </form>
  {% endif %}
</div>
<div class="sbtn">
  <button id="resetButton">チャート位置リセット</button>
</div>
<p><a href="{{ url_for('read_users_items_view',) }}?{{ ITEMID_Q_NAME }}={{ item_id }}" class="plain-link">アイテム詳細へ戻る</a>
</p>
{% endif %}
<div class="chart-container">
  <canvas id="myLineChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3.5.0/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.3.1/dist/chartjs-adapter-luxon.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.2.0/dist/chartjs-plugin-zoom.min.js"></script>
<script>
  const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
  const zoomOptions = {
    pan: {
      enabled: true,
      mode: 'xy',
      speed: 0.1,
      threshold: 10,
    },
    zoom: {
      wheel: {
        enabled: true,
      },
      pinch: {
        enabled: true
      },
      mode: 'xy',
      onZoomComplete({ chart }) {
        chart.update('none');
      }
    }
  };
  var ctx = document.getElementById("myLineChart").getContext('2d');
  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
      datasets: [
        {% for data in chart_data %}
        {
      label: '{{ data.label }}',
      data: [
        {% for row in data.points %}
  { x: "{{ row['x'] }}", y: "{{ row['y'] }}" },
    {% endfor %}
  ],
  lineTension: 0,
    fill: false,
  },
  {% endfor %}
  ],
  },
  options: {
    responsive: true,
      maintainAspectRatio: false,
        scales: {
      x: {
        type: 'time',
          time: {
          parser: 'yyyy-MM-dd',
            unit: 'day'
        },
        title: {
          display: true,
            text: '日付'
        },
        grid: {
          color: function() {
            if (darkModeMediaQuery.matches) {
              return 'rgba(255, 255, 255, 0.3)';
            }
            return 'rgba(120, 120, 120, 0.3)';
          }
        },
      },
      y: {
        grid: {
          color: function() {
            if (darkModeMediaQuery.matches) {
              return 'rgba(255, 255, 255, 0.3)';
            }
            return 'rgba(120, 120, 120, 0.3)';
          }
        },
      }
    },
    plugins: {
      tooltip: {
        mode: 'nearest',
          intersect: false,
            callbacks: {
          title: function(context) {
            const date = context[0].label.split(" ");
            return date[0];
          }
        }
      },
      zoom: zoomOptions,
    }
  }
  });
  const resetButton = document.getElementById('resetButton');

  resetButton.addEventListener('click', () => {
    myLineChart.resetZoom();
  });
</script>
<p><a href="{{ url_for('read_users_items_view',) }}?{{ ITEMID_Q_NAME }}={{ item_id }}" class="plain-link">アイテム詳細へ戻る</a>
</p>
{% endblock %}