{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/analysis.css') }}" type="text/css">
    <title>アイテム分析</title> 
{% endblock %}

{% block body %}
    <h1>アイテム分析</h1>

    <form method="get" action="">
        対象期間 : <select name="{{ ANALYSIS_Q_NAME }}" onchange="submit(this.form)">
            {%- for ap in analysisPeriodList %}
            <option value="{{ ap.id }}" {{ ap.selected }}>
                {{ ap.text }}
            </option>
            {%- endfor %}
        </select>
    </form>

    <p style="color:red;">{{ errmsg }}</p>
    <p><a href="{{ url_for('read_users') }}" class="plain-link">アイテム一覧へ戻る</a></p>
{% endblock %}