{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" type="text/css">
    <title>アイテム詳細</title>
 {% endblock %}

{% block body %}
    <h1>アイテム詳細</h1>
    <h2>直近のアイテム価格</h2>
  
    <table class='recent_table'>
    <tr>
    <th>item_id</th>
    <th>商品名</th>
    <th>url_id</th>
    <th>URL</th>
    <th>直近価格</th>
    <th>変動率</th>
    <th>セール名</th>
    <th>店名</th>
    <th>更新時間</th>
    <th>今までの最安値</th>
    <th>活性数</th>
    </tr>
    <tr>
    <td>{{ items['item_id'] }}</td>
    <td>{{ items['name'] }}</td>
    <td>{{ items['url_id'] }}</td>
    <td>
      {% if items['urlpath'] | isSupportDomain %}
          <a href="{{ items['urlpath'] }}" target="_blank" rel="noopener noreferrer">{{ items['urlpath'] }}</a>
      {% else %}    
          {{ items['urlpath'] }}
      {% endif %}
    </td>
    <td>{{ items['price'] }}円</td>
    <td>{{ "{:.2%}".format(items['trendrate'] | float) }}</td>
    <td>{{ items['salename'] }}</td>
    <td>{{ items['storename'] }}</td>
    <td>{{ items['created_at'] }}</td>
    <td>{{ items['lowestprice'] }}円</td>
    <td>{{ items['act'] }}</td>
    </tr>
    </table>

    <h2>操作メニュー</h2>
        <p><form action="{{ url_for('read_users_items_view_chart') }}" method="get">
            <button type="submit" name="{{ ITEMID_Q_NAME }}" value="{{ items['item_id'] }}">グラフ表示</button>
        </form></p>
        <p><form action="{{ url_for('read_search') }}" method="get">
            <button type="submit" name="{{ SEARCH_WORD_NAME }}" value="{{ items['name'] }}">アイテム名で外部検索</button>
        </form></p>
        <p><form action="{{ url_for('read_users_items_add_url') }}" method="post">
            <button type="submit" name="{{ POST_ITEM_ID }}" value="{{ items['item_id'] }}">URL追加</button>
        </form></p>
        <p><form action="{{ url_for('read_users_items_update_item_name') }}" method="post">
            <button type="submit" name="{{ POST_ITEM_ID }}" value="{{ items['item_id'] }}">商品名変更</button>
        </form></p>
        {% if urllist %}
        <p><form action="{{ url_for('read_users_items_inact_url_all') }}" method="post"> 
            <button type="submit" name="{{ POST_ITEM_ID }}" value="{{ items['item_id'] }}">URL一括無効化</button>
        </form></p>
        {% endif %}
        <p><form action="{{ url_for('read_users_items_remove') }}" method="post">
            <input type="hidden" name="{{ POST_ITEM_ID }}" value="{{ items['item_id'] }}">
            <button type="submit">このアイテムを削除</button>
        </form></p>
        <p><a href="{{ url_for('read_users') }}#item{{ items['item_id'] }}" class="plain-link">アイテム一覧へ戻る</a></p>
        <p><input type="button" onclick="window.close();" value="このタブを閉じる"></p>
    <h2>登録URL一覧</h2>
    {%- if urllist %}
    <p>
    <form action="{{ url_for('read_users_items_update') }}" method="post">
        <button type="submit" name="{{ POST_ITEM_ID }}" value="{{ items['item_id'] }}">一括情報取得</button>
    </form>
    </p>
    {% endif %}
    <table class="url_table">
        <tr>
            <th>url_id</th>
            <th>URL</th>
            <th>活性状態</th>
        </tr>
    {% if urllist %}
        {% for row in urllist %}
            <tr>
            <td>{{ row['url_id']}}</td>
            <td>
              {%if row['urlpath'] | isSupportDomain %}
                    <a href="{{ row['urlpath']}}" target="_blank" rel="noopener noreferrer">{{ row['urlpath']}}</a>
                {% else %}    
                    {{ row['urlpath'] }}
                {% endif %}
            </td>
            <td>{{ row['active'] }}</td>
            <td class="noborder">
            {% if row['active'] == ACTIVE_VALUE %}
            <form action="{{ url_for('read_users_url_update') }}" method="post">
                <input type="hidden" name="{{ POST_ITEM_ID }}" value="{{ items['item_id'] }}">
                <button type="submit" name="{{ POST_URL_PATH }}" value="{{ row['urlpath'] }}">情報取得</button>
            </form>
            {% else %}
            <button type="submit" disabled>情報取得</button>
            {% endif %}            
            </td>
            <td class="noborder">
            {% if row['active'] == ACTIVE_VALUE %}
            <form action="{{ url_for('read_users_items_inact_url') }}" method="post">
                <input type="hidden" name="{{ POST_ITEM_ID }}" value="{{ items['item_id'] }}">
                <button type="submit" name="{{ POST_URL_ID }}" value="{{ row['url_id'] }}">URL無効化</button>
            </form>
            {% else %}
            <form action="{{ url_for('read_users_items_act_url') }}" method="post">
                <input type="hidden" name="{{ POST_ITEM_ID }}" value="{{ items['item_id'] }}">
                <button type="submit" name="{{ POST_URL_ID }}" value="{{ row['url_id'] }}">URL有効化</button>
            </form>
            {% endif %}
            </td>
            <td class="noborder">
            <form action="{{ url_for('read_users_items_url_remove') }}" method="post">
                <input type="hidden" name="{{ POST_ITEM_ID }}" value="{{ items['item_id'] }}">
                <button type="submit" name="{{ POST_URL_ID }}" value="{{ row['url_id'] }}">URL除外</button>
            </form>
            </td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
    {%- if purchase_urllist %}
        <h2>買取URL一覧</h2>
        <table class="url_table">
            <tr>
                <th>買取URL</th>
                <th>url_id</th>
                <th>URL</th>
                <th>活性状態</th>
            </tr>
            {%- for purl in purchase_urllist %}
            <tr>
                {% set itemurls = purl.itemurls %}
                <td rowspan="{{ purl.itemurls_num }}">
                    {%- with url = purl.purchase_url %}
                    {%- include "url_link.html" %}
                    {%- endwith %}
                </td>
                {% set itemurl = itemurls[0] %}
                <td>{{ itemurl.url_id }}</td>
                <td>
                    {%- with url = itemurl.item_url %}
                    {%- include "url_link.html" %}
                    {%- endwith %}
                </td>
                <td>{{ itemurl.act_status }}</td>
            </tr>
            {%- for itemurl in itemurls[1:] %}
            <tr>
                <td>{{ itemurl.url_id }}</td>
                <td>
                    {%- with url = itemurl.item_url %}
                    {%- include "url_link.html" %}
                    {%- endwith %}
                </td>
                <td>{{ itemurl.act_status }}</td>
            </tr>
            {%- endfor %}
            {%- endfor %}
        </table>
    {%- endif %}
    <h2>取得データ一覧</h2>
    <p>
        <form method="get" action="">
            対象期間 : <select name="{{ TIME_PERIOD_Q_NAME }}" onchange="submit(this.form)">
                {%- for tp in timePeriodList %}
                <option value="{{ tp.id }}" {{ tp.selected }}>
                    {{ tp.text }}
                </option>
                {%- endfor %}
            </select>
            <input type="hidden" name="{{ ITEMID_Q_NAME }}" value="{{ items['item_id'] }}">
        </form>
    </p>
    <p>
    件数 {{ loglist_length }}件
    </p>
    <table class="recent_table">
        <tr>
        <th>item_id</th>
        <th>商品名</th>
        <th>url_id</th>
        <th>URL</th>
        <th>更新時間</th>
        <th>中古価格</th>
        <th>新品価格</th>
        <th>セール名</th>
        <th>店名</th>
        <th>取得成否</th>
        <th>変動率</th>
        <th>活性状態</th>
        </tr>
        {% if loglist %}
            {% for row in loglist %}
                <tr>
                <td>{{ row['item_id'] }}</td>
                <td>{{ row['uniqname'] }}</td>
                <td>{{ row['url_id'] }}</td>
                <td>{{ row['urlpath'] }}</td>
                <td>{{ row['created_at'] }}</td>
                <td>{{ row['usedprice'] }}</td>
                <td>{{ row['newprice'] }}</td>
                <td>{{ row['salename'] }}</td>
                <td>{{ row['storename'] }}</td>
                <td>{{ row['issuccess'] }}</td>
                <td>{{ row['trendrate'] }}</td>
                <td>{{ row['active'] }}</td>
                </tr>                    
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}
