{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" type="text/css">
    <title>買取URL一覧</title>
{% endblock %}

{% block body %}
    <h1>買取URL一覧</h1>
    <div>
        駿河屋の買取URLへのリンク一覧です。
        <br>アイテムに登録されているURLから買取URLを生成しています。
        <br>アイテムに登録されているURLが駿河屋以外の場合はアイテム名をキーワードとした駿河屋買取検索のURLを生成しています。
    </div>
    <p><a href="{{ url_for('read_users') }}" class="plain-link">アイテム一覧へ戻る</a></p>
    <h3>フィルタ</h3>
    <div>
        <p>
        {%- with ITEMACT_NAME = ITEMACT_NAME, actstslist = actstslist, fquery = fquery %}
        {%- include "users/item_act_filter.html" %}
        {%- endwith %}
        </p>
        <p>
        {%- with ITEMSORT_NAME = SORT_NAME, itemSortList = itemsortlist, fquery = fquery %}
        {%- include "users/item_sort_filter.html" %}
        {%- endwith %}
        </p>
    </div>
    <p>
        件数
        {{ res_length }}件
    </p>
    <table class="purchase_list_table">
        <tr>
            <th>item_id</th>
            <th>アイテム名</th>
            <th>買取URL</th>
            <th>url_id</th>
            <th>アイテムURL</th>
            <th>ACTIVE状態</th>
            <th>登録日</th>
        </tr>
        {%- for row in res %}
        <tr>
            {% set rowspan = row.get_rowspan() %}
            <td rowspan="{{ rowspan }}">{{ row.item_id }}</td>
            <td rowspan="{{ rowspan }}">{{ row.name }}</td>
            {% set itempurl = row.get_url_list()[0] %}
            <td rowspan="{{ itempurl.itemurls_num}}">
                {%- with url = itempurl.purchase_url %}
                {%- include "url_link.html" %}
                {%- endwith %}
            </td>
            <td>{{ itempurl.itemurls[0].url_id }}</td>
            <td> 
                {%- with url = itempurl.itemurls[0].item_url %}
                {%- include "url_link.html" %}
                {%- endwith %}
            </td>
            <td>{{ itempurl.itemurls[0].act_status }}</td>
            <td rowspan="{{ rowspan }}">{{ row["created_at"] }}</td>
            <td rowspan="{{ rowspan }}" class="noborder nobreak">
                <a href="{{ url_for('read_users_items_view') }}?{{ ITEMID_Q_NAME }}={{ row['item_id'] }}"
                 target="_blank" rel="noopener noreferrer" class="like_button_link">アイテム詳細</a>
            </td>
        </tr>
            {%- for itemurl in itempurl.itemurls[1:] %}
                <tr>
                    <td>{{ itemurl.url_id }}</td>
                    <td> 
                        {%- with url = itemurl.item_url %}
                        {%- include "url_link.html" %}
                        {%- endwith %}
                    </td>
                    <td>{{ itemurl.act_status }}</td>
                </tr>
                {%- endfor %}
            {%- for itempurl in row.get_url_list()[1:] %}
            <tr>
                <td rowspan="{{ itempurl.itemurls_num}}">
                    {%- with url = itempurl.purchase_url %}
                    {%- include "url_link.html" %}
                    {%- endwith %}
                </td>
                {% set itemurl = itempurl.itemurls[0] %}
                <td>{{ itemurl.url_id }}</td>
                <td> 
                    {%- with url = itemurl.item_url %}
                    {%- include "url_link.html" %}
                    {%- endwith %}
                </td>
                <td>{{ itemurl.act_status }}</td>
            </tr>
                {%- for itemurl in itempurl.itemurls[1:] %}
                <tr>
                    <td>{{ itemurl.url_id }}</td>
                    <td> 
                        {%- with url = itemurl.item_url %}
                        {%- include "url_link.html" %}
                        {%- endwith %}
                    </td>
                    <td>{{ itemurl.act_status }}</td>
                </tr>
                {%- endfor %}
            {%- endfor %}
        {%- endfor %}
    </table>
    <p><a href="{{ url_for('read_users') }}" class="plain-link">アイテム一覧へ戻る</a></p>
{% endblock %}
