<table class="store_list_table">
    <tr>
        <th>store_id</th>
        <th>店舗名</th>
        <th>登録日</th>
        <th>送料条件</th>
        <th>送料</th>
        <th>条件更新日</th>
    </tr>
    {%- for row in store_list %}
    <tr>
        {%- if row.terms_num > 0 %}
        <td rowspan="{{ row.terms_num }}">{{ row.store_id }}</td>
        <td rowspan="{{ row.terms_num }}">{{ row.storename }}</td>
        <td rowspan="{{ row.terms_num }}">{{ row.created_at }}</td>
        <td>{{ row.terms_list[0].temrs_text }}</td>
        <td>{{ row.terms_list[0].postage }}</td>
        <td>{{ row.terms_list[0].created_at }}</td>
        {%- else %}
        <td>{{ row.store_id }}</td>
        <td>{{ row.storename }}</td>
        <td>{{ row.created_at }}</td>
        <td>None</td>
        <td>None</td>
        <td>None</td>
        {%- endif %}
    </tr>
    {%- if row.terms_num > 1 %}
    {%- for terms in row.terms_list[1:] %}
    <tr>
        <td>{{ terms.temrs_text }}</td>
        <td>{{ terms.postage }}</td>
        <td>{{ terms.created_at }}</td>
    </tr>
    {%- endfor %}
    {%- endif %}
    {%- endfor %}
</table>