{% extends "shared/layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" type="text/css">
    <title>登録URL一覧</title>
{% endblock %}

{% block body %}
    <h1>登録URL一覧</h1>
    <p><a href="{{ url_for('read_users') }}" class="plain-link">アイテム一覧へ戻る</a></p>
    <h3>フィルタ</h3>
    <div>
        <p>
        {%- with ITEMACT_NAME = ITEMACT_NAME, actstslist = actstslist, fquery = fquery %}
        {%- include "users/item_act_filter.html" %}
        {%- endwith %}
        </p>
        <p>
        {%- with ITEMSORT_NAME = URLSORT_NAME, itemSortList = urlSortList, fquery = fquery %}
        {%- include "users/item_sort_filter.html" %}
        {%- endwith %}
        </p>
    </div>
    <p>
        件数
        {{ res_length }}件
    </p>
    <table class="url_list_table">
        <tr>
            <th>url_id</th>
            <th>URL</th>
            <th>URL名</th>
            <th>登録日</th>
            <th>更新時間</th>
            <th>item_id</th>
            <th>アイテム名</th>
            <th>ACTIVE状態</th>
        </tr>
        {%- for row in res %}
        <tr>
            {%- if row.item_num > 0 %}
                <td rowspan="{{ row.item_num }}">{{ row.url_id }}</td>
                <td rowspan="{{ row.item_num }}"> 
                    {%- with url = row.url %}
                    {%- include "shared/url_link.html" %}
                    {%- endwith %}
                </td>
                <td rowspan="{{ row.item_num }}">{{ row.name }}</td>
                <td rowspan="{{ row.item_num }}">{{ row.registration_date }}</td>
                <td rowspan="{{ row.item_num }}">
                    {%- with updatetime = row.created_at %}
                    {%- include "shared/updatetime.html" %}
                    {%- endwith %}
                </td>
                <td>{{ row.itemlist[0].item_id }}</td>
                <td>{{ row.itemlist[0].name }}</td>
                <td>{{ row.itemlist[0].act_status }}</td>
                <td class="noborder nobreak">
                    <a href="{{ url_for('read_users_items_view') }}?{{ ITEMID_Q_NAME }}={{ row.itemlist[0].item_id }}"
                    target="_blank" rel="noopener noreferrer" class="like_button_link">アイテム詳細</a>
                </td>
            {%- else %}
                <td>{{ row.url_id }}</td>
                <td> 
                    {%- with url = row.url %}
                    {%- include "shared/url_link.html" %}
                    {%- endwith %}
                </td>
                <td>{{ row.name }}</td>
                <td>{{ row.registration_date }}</td>
                <td>
                    {%- with updatetime = row.created_at %}
                    {%- include "shared/updatetime.html" %}
                    {%- endwith %}
                </td>
                <td>None</td>
                <td>None</td>
                <td>None</td>
                <td class="noborder nobreak"></td>
            {%- endif %}
        </tr>
        {%- if row.item_num > 1 %}
            {%- for item in row.itemlist[1:] %}
            <tr>
                <td>{{ item.item_id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.act_status }}</td>
                <td class="noborder nobreak">
                    <a href="{{ url_for('read_users_items_view') }}?{{ ITEMID_Q_NAME }}={{ item.item_id }}"
                    target="_blank" rel="noopener noreferrer" class="like_button_link">アイテム詳細</a>
                </td>
            </tr>
            {%- endfor %}
        {%- endif %}
        {%- endfor %}
    </table>
    <p><a href="{{ url_for('read_users') }}" class="plain-link">アイテム一覧へ戻る</a></p>
{% endblock %}
