{% extends "shared/layout.html" %}

{% block head %}
    <title>管理画面</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/controlpanel.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <h1>管理画面</h1>
    <div class="system_status">ステータス：{{ syssts }}</div>
    <div class="auto_update_box">
        <div class="auto_update_status">アイテム自動更新：{{ item_autoupdate }}</div>
        {% if not sysstop %}
        <div class="auto_update_schedule">
            {% for sch in item_autoupdate_schedule %}
            <div class="auto_update_schedule_value">{{ sch.requirement }}({{ sch.status }})</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="auto_update_box">
        <div class="auto_update_status">店舗情報自動取得：{{ online_store_autoupdate }}</div>
        {% if not sysstop %}
        <div class="auto_update_schedule">
            {% for sch in online_store_autoupdate_schedule %}
            <div class="auto_update_schedule_value">{{ sch.requirement }}({{ sch.status }})</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="auto_update_box">
        <div class="auto_update_status">店舗情報の取得後、My店舗へ自動コピー：{{ auto_copy_online_store_to_local }}</div>
        {% if not sysstop and auto_copy_online_store_to_local_internal_config %}
            <div class="internal_config">{{ auto_copy_online_store_to_local_internal_config["name"] }}：{{ auto_copy_online_store_to_local_internal_config["value"] }}</div>
        {% endif %}
    </div>
    <div class="system_status_log_box">
        <textarea class="system_status_log" readonly>{{ sysstatuslog }}</textarea>
    </div>
    <h2>操作</h2>
    {% if updatemsg %}
        <p>{{ updatemsg }}</p>
    {% endif %}
    <p><a href="{{ url_for('read_admin_dashboard') }}" class="plain-link">画面更新</a></p>
    <form method="post" action="{{ url_for('read_admin_dashboard_svchg') }}">
        {% if sysstop %}
        <button type="submit" name="{{ system_ctrl_btn_name }}" value="{{ STARTUP }}">起動</button>
        {% endif %}
        {% if not sysstop %}
        <button type="submit" name="{{ system_ctrl_btn_name }}" value="{{ STOP }}">停止</button>
        <button type="submit" name="{{ system_ctrl_btn_name }}" value="{{ RESTART }}">再起動</button>
        {% endif %}
    </form>
    <p><a href="{{ url_for('read_users') }}" class="plain-link">アイテム一覧へ戻る</a></p>
{% endblock %}
