{% extends "shared/layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" type="text/css">
    <title>サーバ状態の更新</title>
    <meta http-equiv="refresh" content=" 3; url={{ url_for('read_admin_dashboard') }}">
{% endblock %}

{% block body %}
    <h1>サーバ状態の更新</h1>
    {%- if errmsg %}
      <p>{{ errmsg }}</p>
    {%- else %}
      <p>
        更新中です。
        <br>3秒後に戻ります。
      </p>
    {%- endif %}
    <p><a href="{{ url_for('read_admin_dashboard') }}" class="plain-link">管理画面へ戻る</a></p>
{% endblock %}