.sbtn {
    margin-top:10px;
    margin-bottom:10px;
}
.config_box {
    margin-top: 10px;
    margin-bottom: 10px;
}
.chart-container {
    width: 90%; 
    height: 500px;
}
.predict_result_msg {
    color:red;
}
@media (prefers-color-scheme: dark) {
    .predict_result_msg {
        color:orange;
    }
}