
@charset "utf-8";
.header , .nav {
    padding:0 10px;
}
.main {
    display:flex;
    width: 100%;
}
.searchret {
    width: calc(100vw - 200px);
}
.retpage , .retpage ul {
    /*width: calc(100% + 200px);*/
}
.aside {
   /* float:left;*/
    width:180px;
    padding-left:10px;
    padding-right:10px;
}
.footer {
    height:80px;
}
