.all_item_desc {
    margin-bottom:5px;
}
.all_item_postage {
    margin-bottom:5px;
}

table.all_item_table {
    margin-bottom:10px;
}

table.all_item_table th {
    border:none;
    border-bottom: 1px solid #000;
}

.detail_store_title {
    font-size:20px;
    text-decoration:underline solid #000;
    margin-bottom:10px;
}
.detail_store_name {
    font-weight:bold;
    margin-bottom:10px;
}
table.store_item_table {
    border:none;
    border-bottom: 1px solid #000;
}
table.store_item_table tr>*:first-child {
    min-width:90px;
}
.store_sum_pos_out {
    padding-top:7px;
}
.store_sum_pos_in {
    margin-top:10px;
}
.link_text_line {
    margin-top:14px;
    margin-bottom:14px;
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
      background-color: #000;
      color: #fff;
    }
    table tr, table td, table th {
        color:#fff;
    }
    table.store_item_table, table.all_item_table th {
        border-bottom-color: #fff;
    }
    .detail_store_title {
        text-decoration-color:#fff;
    }
    .gray_background {
        background: #696969;
    }
    table tr:nth-child(odd) td.gray_background {
        background: #696969;
    }
    a.plain-link:link, a.plain-link:visited {
      color:  #E29506;
    }
  }